* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #c663eb, #6b0497);
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    margin: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form {
    margin-bottom: 1.5rem;
}

h2 {
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
}

.input-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
}

input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    gap: 20px;
    padding: 10px;
    background: #d410cd;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}


.btn{
    margin: 10px;
}
button:hover {
    margin: 10px;
    background: #b106ab;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 1rem;
    }
}
